* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0E466F;   
    --secondary-color: #A23378; 
    --accent-color: #D20F75;
}

body, html {
    height: 100%; /* La página ocupa toda la altura de la pantalla */
    overflow: hidden; /* Elimina cualquier scroll */
    font-family: Arial, sans-serif; /* Fuente por defecto */
    display: flex;
    flex-direction: column; /* Permite organizar el contenido verticalmente */
}

.header {
    flex-shrink: 0; /* Evita que el header cambie de tamaño */
    width: 100%;
    background-color: #3498db;
    color: white;
    padding: 20px 0; /* Espacio dentro del header */
    text-align: center;
}

.container {
    flex: 1; /* Hace que el contenedor ocupe el espacio restante */
    display: flex;
    justify-content: space-between; /* Espaciado horizontal entre los divs */
    gap: 20px; /* Espacio horizontal entre los divs */
    padding: 20px; /* Espacio interno para el contenedor */
    margin: 20px; /* Márgenes alrededor del contenedor */
    overflow: hidden; /* Asegura que no haya scroll dentro del contenedor */
}

.container > div {
    flex: 1; /* Ambos divs tendrán el mismo ancho */
    padding: 20px; /* Espacio interno dentro de los divs */
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Organiza el contenido verticalmente */
    justify-content: space-between; /* Distribuye el contenido dentro de los divs */
}

iframe{
  
  width: auto;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain; /* Ajusta la imagen sin perder proporciones */
}

.footer {
    flex-shrink: 0; /* Evita que el footer cambie de tamaño */
    width: 100%;
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 10px 0;
}
